# ===============================
# SEGREDOS
# ===============================
.env
.env.*
google-vision.json

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# ===============================
# LOGS
# ===============================
*.log

# ===============================
# SISTEMA
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/
